<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="pipeline" value="../../src/TedToolkit.Orchestration.Pipeline/bin/Release" />
    <add key="state-machine" value="../../src/TedToolkit.Orchestration.StateMachine/bin/Release" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
